.table-wrapper{
    overflow-x: scroll;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table .th_column {
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    background: #efefef;
    border: 1px solid #dddddd;
    padding: 5px;
}

.table .th_column button.active {
    background: rgba(0, 209, 0, 0.7);
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}